<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Collabora">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- APP LINKS INVITE (HTTPS) 😄🔥 -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="collabora.app" android:pathPrefix="/invite" />
                <data android:scheme="http" android:host="collabora.app" android:pathPrefix="/invite" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".DashboardActivity"
            android:exported="false" />

        <activity
            android:name=".OnboardingActivity"
            android:exported="false" />

        <activity
            android:name=".VerifyEmailActivity"
            android:exported="false" />

        <activity
            android:name=".CalendarActivity"
            android:exported="false" />

        <activity
            android:name=".TeamActivity"
            android:exported="false" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".CreateTaskActivity"
            android:exported="false" />

        <activity
            android:name=".CreateTeamActivity"
            android:exported="false" />

        <activity
            android:name=".JoinTeamActivity"
            android:exported="false" />

        <activity
            android:name=".TaskDetailActivity"
            android:exported="false" />

        <receiver
            android:name=".ReminderReceiver"
            android:exported="false"/>

        <activity
            android:name=".TeamChatActivity"
            android:exported="true" />


    </application>

</manifest>
